@media (min-width: 1024px){
    body {
        display: flex;
        flex-direction: column;
        align-items: center; /* 水平居中 */
        justify-content: center; /* 垂直居中 */
        min-height: 100vh;
        margin: 0;
        overflow-y: scroll;
        font-size: 1em;
    }
    .menu2{
        display: none;
    }
    .menu2-toggle {
        display: none;
    }
    .sidebar {
        position: fixed;
        left: 0%;
        top: 0%;
        transform: translateX(0%) translateY(0%);
        width: 20vw;
        height: 100%;
        background-color:transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index:100;
    }
    
    .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .arrow-container {
        width: 10vw;  
        height: 10vh; 
        overflow: visible;  
        position: fixed; 
        cursor: pointer;  
    }
    
    
    .menu-item img.arrow {
        display: block;
        width: 10vw; 
        height: auto;
        position: absolute;
        transition: transform 0.3s ease; 
    }
    
    
    .menu-item:hover img.arrow {
        transform: scale(1.1); 
    }
    .menu-item {
        color: black;
        padding: 10px;
        margin: 5vh auto;
        font-size: 2vw;
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        transition: transform 0.3s ease, opacity 0.3s;
        cursor: pointer;
        position:absolute;
        line-height: 100px;
        font-weight: bold;
        text-align: left;
    
    }
    .menu-item:nth-child(1) 
    {
        top: -5vh;
        left:8vw;
        transform: translateY(calc(10vh - 5vw));
        position:absolute;
    }
    
    /*policy introduce*/
    .menu-item:nth-child(2) 
    {
        top: 10.5vh;
        left:8vw;
        transform: translateY(calc(10vh - 5vw));
        position:absolute;
    }
    /*spot*/
    .menu-item:nth-child(3) 
    {
        top: 27.5vh;
        left:8vw;
        transform: translateY(calc(10vh - 5vw));
        position:absolute;
    }
    /*doc*/
    .menu-item:nth-child(4) 
    {
        top: 44.5vh;
        left:8vw;
        transform: translateY(calc(10vh - 5vw));
        position:absolute;
    }
    /*form*/
    .menu-item:nth-child(5) 
    {
        top: 61vh;
        left:8vw;
        transform: translateY(calc(10vh - 5vw));
        position:absolute;
    }
    /*aboutus*/
    .menu-item:nth-child(6) 
    {
        top: 78vh;
        left:8vw;
        transform: translateY(calc(10vh - 5vw));
        position:absolute;
    }
    .menu-item:hover {
        transform:translateX(0%) translateY(0%) scale(1.1); 
        opacity:0.8; 
    }
    .menu-item a {
        text-decoration: none; 
        color: inherit;        
        display: block;        
        width: 100%;           
        height: 100%;          
    }
    
    .menu-item a:active,
    .menu-item a:focus {
        color: inherit; 
        outline: none;   
    }
    .menu-toggle {
        display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center; /* 讓圖片在不同螢幕寬度下自動對齊 */
        justify-content: space-evenly; /* 讓它們均勻分布 */
        height: 100vh;
        position: relative;
    }
    
    .img {
        max-width: 100%; /* 讓圖片不會超出螢幕 */
        height: auto;
    }
    
    .img1,
    .img3,
    .img4,
    .img5,
    .img6 {
        position: fixed;
        left: 0;
        top: 100%;
        width:70vw;
        height: 210vh;
        z-index: 1; /* 確保圖片在側邊欄後面 */
    }
    .img1 {top:-24vh; left:-26vw;}
    .img3 {top:28vh; left:-6vw;}
    .img4 { top:25vh; left:-26vw; }
    .img5 { top:53vh; left:-14vw; }
    .img6 { top:78vh; left:-6vw }
    
    .icon1{
        position:fixed;
        top:-32vh;
        left:-3vw;
        width: 70vw;
        height:190vh;
        z-index:1;
    }

    .icon3{
        position:fixed;
        top:0.5vh;
        left:-1.5vw;
        width: 55vw;
        height:110vh;
        z-index:3;
    }
    .icon4{
        position:fixed;
        top:-3.2vh;
        left:-3vw;
        width: 65vw;
        height:150vh;
        z-index:3;
    }
    .icon5{
        position:fixed;
        top:-0.5vh;
        left:-3vw;
        width: 65vw;
        height:155vh;
        z-index:3;
    }
    .icon6{
        position:fixed;
        top:67vh;
        left:-6vw;
        width: 70vw;
        height:185vh;
        z-index:3;
    }
    .title {
        font-size: clamp(16px, 15vw, 6vh);;
        font-family: 'Noto Sans HK', sans-serif;
        font-weight: bold;
        align-items: center;
        position: absolute; 
        top:-5vh;
        left:33vw;
       
    }
    .icon7{
        position:absolute;
        top:-2vh;
        left:27vw;
        width: clamp(50px, 12vw, 12vh);
        height:auto;
        z-index:3;
        transform-origin: top left;
    }
    /* 搜尋欄 */
    .search-container {
        position:absolute;
        top:-4vh;
        left:70vw;
        justify-content: center; 
        align-items: center; 
        margin-top: 50px; 
        z-index: 100;
    }
    
    /* 搜尋框 */
    .search-input {
        padding: 12px 20px;
        font-size: 1em;
        border: 2px solid #ddd;
        border-radius: 30px;
        width: 15vw;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: black;
    }
    
    /* 按鈕 */
    .search-button {
        padding: 12px 12px;
        font-size: 1em;
        background-color: #5480bf; 
        color: white; 
        border: none;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 10px; 
        transition: all 0.3s ease;
    }
    
    /* 按鈕圖 */
    .material-icons {
        font-size: 12em; 
        vertical-align: middle; 
    }
    
    /* 按鈕效果 */
    .search-button:hover {
        background-color: #c2e6f9; 
    }
/*內容*/
/*p-bar*/
.img10
{
    position:absolute;
    top:calc(10px + 17.5vh);
    left:58vw; 
    width: 24vw;
    height:auto;
    transform: translate(-50%,-50%); 
    z-index:1;
}
.text1
{
    top:calc(19vh - 7.5%);
    left:58.5vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:calc(1.5vh + 1.5vw);
    color: black;
    z-index: 40;
    transform: translateX(-50%) translateY(0);
}
.text2
{
    top:21vh;
    left:30vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
.img7
{
    position:absolute;
    top:51vh;
    left:36vw; 
    width: 31vh;
    height:auto;
    z-index:100;
    transform: translate(-50%, -50%); 
    transition: transform 0.3s ease, opacity 0.3s ease;
}
a .img7:hover {
    transform: translateX(-50%) translateY(-50%) scale(1.2); /* 保持原位縮放 */
    opacity: 0.8;
}
.text3
{
    top:65vh;
    left:33.5vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}


.img8
{
    position:absolute;
    top:51vh;
    left:58vw; 
    width: 20vw;
    height:32vh;
    transform: translate(-50%, -50%);
    z-index:100;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
a .img8:hover {
    transform: translateX(-50%) translateY(-50%) scale(1.2); /* 保持原位縮放 */
    opacity: 0.8;
}
.text4
{
    top:65vh;
    left:54vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
.img9
{
    position:absolute;
    top:52vh;
    left:81vw; 
    width: 38vh;
    transform: translate(-50%, -50%);
    height:auto;
    z-index:1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
a .img9:hover {
    transform: translateX(-50%) translateY(-50%) scale(1.2); /* 保持原位縮放 */
    opacity: 0.8;
}
.text5
{
    top:65vh;
    left:76vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
/*b-bar*/
.img11
{
    position:absolute;
    top:calc(85vh + 10px);
    left:58vw; 
    width: 24vw;
    height:auto;
    transform: translate(-50%,-50%); 
    z-index:1;
}

/*B條件*/
.text6
{
    top:calc(85vh + 10px - 7.5%);
    left:58vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:calc(1.5vh + 1.5vw);
    color: black;
    z-index: 40;
    transform: translateX(-50%) translateY(0);
}
.img12
{
    position:absolute;
    top:110vh;
    left:36vw; 
    width: 45vh;
    height:auto;
    z-index:100;
    transform: translate(-50%, -50%); 
}
.text7
{
    top:125vh;
    left:29vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2.22em;
    color: black;
    z-index: 40;
}
.img13
{
    position:absolute;
    top:110vh;
    left:58vw; 
    width: 45vh;
    height:auto;
    z-index:100;
    transform: translate(-50%, -50%); 
}
.text8
{
    top:125vh;
    left:51.5vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
.img14
{
    position:absolute;
    top:110vh;
    left:81vw; 
    width: 38vh;
    height:auto;
    z-index:100;
    transform: translate(-50%, -50%); 
}
.text9
{
    top:125vh;
    left:77vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
.text10
{
    top:132vh;
    left:76.5vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:1.3em;
    color: black;
    z-index: 40;
}
/*y-bar*/
.img15
{
    position:absolute;
    top:calc(144vh + 10px);
    left:58vw; 
    width: 24vw;
    height:auto;
    transform: translate(-50%,-50%); 
    z-index:1;
}
.text11
{
    top:calc(144vh + 10px - 7.5%);
    left:58vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:calc(1.5vh + 1.5vw);
    color: black;
    z-index: 40;
    transform: translateX(-50%) translateY(0);
}
.text12
{
    top:148vh;
    left:28vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
.img16
{
    position:absolute;
    top:177vh;
    left:36vw; 
    width: 45vh;
    height:auto;
    z-index:100;
    transform: translate(-50%, -50%); 
}
.img17
{
    position:absolute;
    top:177vh;
    left:58vw; 
    width: 38vh;
    height:auto;
    z-index:100;
    transform: translate(-50%, -50%); 
}
.img18
{
    position:absolute;
    top:177vh;
    left:81vw; 
    width: 35vh;
    height:auto;
    z-index:100;
    transform: translate(-50%, -50%); 
}
.text13
{
    top:192vh;
    left:31vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
.text14
{
    top:192vh;
    left:53vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
.text15
{
    top:192vh;
    left:77vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
.img19
{
    position:absolute;
    top:227vh;
    left:46vw; 
    width: 48vh;
    height:auto;
    z-index:100;
    transform: translate(-50%, -50%); 
}
.img20
{
    position:absolute;
    top:227vh;
    left:70vw; 
    width: 51vh;
    height:auto;
    z-index:100;
    transform: translate(-50%, -50%); 
}
.text16
{
    top:241vh;
    left:41vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
.text17
{
    top:241vh;
    left:67vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
.img21
{
    position:absolute;
    top:277vh;
    left:36vw; 
    width: 45vh;
    height:auto;
    z-index:100;
    transform: translate(-50%, -50%); 
}
.img22
{
    position:absolute;
    top:277vh;
    left:58vw; 
    width: 45vh;
    height:auto;
    z-index:100;
    transform: translate(-50%, -50%); 
}
.img23
{
    position:absolute;
    top:277vh;
    left:81vw; 
    width: 38vh;
    height:auto;
    z-index:100;
    transform: translate(-50%, -50%); 
}
.text18
{
    top:290vh;
    left:31vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
.text19
{
    top:290vh;
    left:51vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
.text20
{
    top:290vh;
    left:72vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
.img24
{
    position:absolute;
    top:327vh;
    left:46vw; 
    width: 48vh;
    height:auto;
    z-index:100;
    transform: translate(-50%, -50%); 
}
.img25
{
    position:absolute;
    top:327vh;
    left:70vw; 
    width: 51vh;
    height:auto;
    z-index:100;
    transform: translate(-50%, -50%); 
}
.text21
{   top:345vh;
    left:39vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
.text22
{
    top:345vh;
    left:63vw;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:2em;
    color: black;
    z-index: 40;
}
.bulletin-board {
    background-color: #fff;
    width: 10vw;
    height:5vh;
    margin: 0 auto;
    border: 10px solid #152469; 
    border-radius: 10px; 
    padding: 10px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    top:360%;
    left:30%;
    transform: translateX(-50%) translateY(-50%); 
}
.rectangle2 {
    width: 50vw;         /* 長方形的寬度 */
    height: 20vh;        /* 長方形的高度 */
    background-color: transparent; /* 背景顏色 */
    border: 15px solid #004aad;  
    position:absolute;
    top:370vh;
    left:60vw;
    transform: translateX(-50%) translateY(-50%); 
    border-radius: 20px;
}
.text23
{
    top:366vh;
    left:58vw;
    transform: translateX(-50%) translateY(-50%); 
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:1.8em;
    color: black;
    z-index: 1000;
}
.text23 a {
    color: black; /* 設定為黑色 */
}
.text24
{
    top:375vh;
    left:58vw;
    transform: translateX(-50%) translateY(-50%); 
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:1.8em;
    color: black;
    z-index: 1000;
}
.text24 a {
    color: black; /* 設定為黑色 */
}
}
/*for ipad(橫向)*/
@media screen and (pointer: coarse) and  (orientation: landscape) and (min-width: 1024px) {
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        overflow-y: scroll;
        }
       
        
        .menu2{
            display: none;
        }
        .menu2-toggle {
            display: none;
        }
        .sidebar {
            position: fixed;
            left: 0;
            top: 0;
            width: 405px;
            height: 100%;
            background-color:transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index:100;
        }
        
        .menu {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            text-align: center;
        }
        
        .menu-item {
            width: auto; 
            height: auto; 
            padding: 0; 
            margin: 0; 
            font-size: 35px; 
            position: absolute; 
            line-height: normal; 
            text-align: left; 
            font-weight: bold;
            cursor: pointer; 
        }
        .arrow-container {
            width: 10px;  
            height: 10px; 
            overflow: visible;  
            position: fixed; 
            cursor: pointer;  
        }
        
        
        .menu-item img.arrow {
            display: block;
            width: 150px; 
            height: auto;
            position: absolute;
            top: 20px;
            left: -25px;
            transition: transform 0.3s ease; 
        }
        
        
        .menu-item:hover img.arrow {
            transform: scale(1.1); 
        }
        
      /*newinformation*/
        .menu-item:nth-child(1) 
        {
            top: 55px;
            left:140px;
        }
        
         /*arrow*/
        .menu-item:nth-child(2) 
        {
            top: 110px;
            left:120px;
        }
        /*spot*/
        .menu-item:nth-child(3) 
        {
            top: 285px;
            left:120px;
        }
        /*doc*/
        .menu-item:nth-child(4) 
        {
            top: 410px;
            left:120px;
        }
        /*form*/
        .menu-item:nth-child(5) 
        {
            top: 530px;
            left:120px;
        }
        /*aboutus*/
        .menu-item:nth-child(6) 
        {
            top: 646px;
            left:120px;
        }
        
        .menu-item:hover {
            transform: scale(1.1); 
            opacity:0.8; 
        }
        .menu-item a {
            text-decoration: none; 
            color: inherit;        
            display: block;        
            width: 100%;           
            height: 100%;          
        }
        
        .menu-item a:active,
        .menu-item a:focus {
            color: inherit; 
            outline: none;   
        }
        .menu-toggle {
            display: none;
        }
    .img1,
    .img3,
    .img4,
    .img5,
    .img6 {
        position: fixed;
        width: 1000px;
        height: 1600px;
        z-index: 1; /* 確保圖片在側邊欄後面 */
    }
    .img1 { top:685px;left:0px; }
    .img3 { top:700px;left:0px; }
    .img4 { top:710px;left:0px; }
    .img5 { top:720px;left:0px; }
    .img6 { top:725px;left:0px; }
    
    .icon1{
        position:fixed;
        transform: translateX(-5%) translateY(-16.5%); 
        width: 1000px;
        height:1500px;
        z-index:1;
    }
    .icon3{
        position:fixed;
        transform: translateX(-3.5%) translateY(1%); 
        width: 820px;
        height:850px;
        z-index:3;
    }
    .icon4{
        position:fixed;
        transform: translateX(-5%) translateY(-4.5%); 
        width: 1000px;
        height:1200px;
        z-index:3;
    }
    .icon5{
        position:fixed;
        transform: translateX(-5%) translateY(-10.5%); 
        width: 1100px;
        height:1500px;
        z-index:3;
    }
    .icon6{
        position:fixed;
        transform: translateX(-8%) translateY(41%);
        width: 1050px;
        height:1260px;
        z-index:3;
    }
    .title {
            font-size: 40px;
            font-family: 'Noto Sans HK', sans-serif;
            font-weight: bold;
            align-items: center;
            position: absolute; 
            top:0px;
            left:50px;
    }
    .icon7{
            position:absolute;
            transform: translateX(450%) translateY(10%);
            width: 80px;
            height:80px;
            z-index:3;
        }
     /* 搜尋欄 */
     .search-container {
        position:absolute;
        transform: translateX(180%) translateY(-40%);
        justify-content: center; 
        align-items: center; 
        margin-top: 50px; 
        z-index: 100;
    }
    
    /* 搜尋框 */
    .search-input {
        padding: 12px 20px;
        font-size: 16px;
        border: 2px solid #ddd;
        border-radius: 30px;
        width: 300px;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: black;
    }
    
    /* 按鈕 */
    .search-button {
        padding: 12px 12px;
        font-size: 16px;
        background-color: #5480bf; 
        color: white; 
        border: none;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 10px; 
        transition: all 0.3s ease;
    }
    
    /* 按鈕圖 */
    .material-icons {
        font-size: 24px; 
        vertical-align: middle; 
    }
    
    /* 按鈕效果 */
    .search-button:hover {
        background-color: #c2e6f9; 
    }
   /*內容*/
.img7
{
    position:absolute;
    transform: translateX(180%) translateY(150%); 
    width: 220px;
    height:220px;
    z-index:100;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
a .img7:hover {
    transform: translateX(180%) translateY(150%) scale(1.2); /* 保持原位縮放 */
    opacity: 0.8;
}
.img8
{
    position:absolute;
    transform: translateX(240%) translateY(120%); 
    width: 280px;
    height:260px;
    z-index:100;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
a .img8:hover {
    transform: translateX(240%) translateY(120%) scale(1.2); /* 保持原位縮放 */
    opacity: 0.8;
}
.img9
{
    position:absolute;
    transform: translateX(320%) translateY(95%); 
    width: 300px;
    height:300px;
    z-index:1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
a .img9:hover {
    transform: translateX(320%) translateY(95%) scale(1.2); /* 保持原位縮放 */
    opacity: 0.8;
}
/*p-bar*/
.img10
{
    position:absolute;
    transform: translateX(155%) translateY(0%); 
    width: 400px;
    height:400px;
    z-index:1;
}
.text1
{
    transform: translateX(465%) translateY(230%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:40px;
    color: black;
    z-index: 40;
}
.text2
{
    transform: translateX(45%) translateY(550%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text3
{
    transform: translateX(790%) translateY(1245%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text4
{
    transform: translateX(630%) translateY(1240%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text5
{
    transform: translateX(700%) translateY(1235%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
/*b-bar*/
.img11
{
    position:absolute;
    transform: translateX(155%) translateY(120%); 
    width: 400px;
    height:400px;
    z-index:1;
}

/*B條件*/
.text6
{
    transform: translateX(810%) translateY(1240%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:35px;
    color: black;
    z-index: 40;
}
.img12
{
    position:absolute;
    transform: translateX(100%) translateY(200%); 
    width: 350px;
    height:350px;
    z-index:1;
}
.img13
{
    position:absolute;
    transform: translateX(210%) translateY(215%); 
    width: 320px;
    height:320px;
    z-index:1;
}
.img14
{
    position:absolute;
    transform: translateX(370%) translateY(190%); 
    width: 270px;
    height:360px;
    z-index:1;
}
.text7
{
    transform: translateX(245%) translateY(2210%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text8
{
    transform: translateX(415%) translateY(2210%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text9
{
    transform: translateX(900%) translateY(2200%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text10
{
    transform: translateX(685%) translateY(3450%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:20px;
    color: black;
    z-index: 40;
}
/*y-bar*/
.img15
{
    position:absolute;
    transform: translateX(155%) translateY(223%); 
    width: 400px;
    height:400px;
    z-index:1;
}
.text11
{
    transform: translateX(535%) translateY(2070%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:35px;
    color: black;
    z-index: 40;
}
.text12
{
    transform: translateX(45%) translateY(2750%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:28px;
    color: black;
    z-index: 40;
}
.img16
{
    position:absolute;
   top:1200px;
   left:355px;
    width: 350px;
    height:350px;
    z-index:1;
}
.img17
{
    position:absolute;
    top:1210px;
   left:670px;
    width: 300px;
    height:300px;
    z-index:1;
}
.img18
{
    position:absolute;
    transform: translateX(370%) translateY(330%); 
    width: 270px;
    height:360px;
    z-index:1;
}
.text13
{
    transform: translateX(376%) translateY(3450%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text14
{
    transform: translateX(420%) translateY(3450%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text15
{
    transform: translateX(500%) translateY(3450%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.img19
{
    position:absolute;
    transform: translateX(106%) translateY(385%); 
    width: 400px;
    height:400px;
    z-index:1;
}
.img20
{
    position:absolute;
    transform: translateX(170%) translateY(335%); 
    width: 450px;
    height:450px;
    z-index:1;
}
.text16
{
    transform: translateX(300%) translateY(4300%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text17
{
    transform: translateX(540%) translateY(4300%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.img21
{
    position:absolute;
    transform: translateX(85%) translateY(480%); 
    width: 400px;
    height:400px;
    z-index:1;
}
.img22
{
    position:absolute;
    transform: translateX(180%) translateY(525%); 
    width: 370px;
    height:370px;
    z-index:1;
}
.img23
{
    position:absolute;
    transform: translateX(370%) translateY(540%); 
    width: 270px;
    height:360px;
    z-index:1;
}
.text18
{
    transform: translateX(320%) translateY(5200%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text19
{
    transform: translateX(400%) translateY(5200%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text20
{
    transform: translateX(460%) translateY(2590%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.img24
{
    position:absolute;
    transform: translateX(100%) translateY(580%); 
    width: 400px;
    height:400px;
    z-index:1;
}
.img25
{
    position:absolute;
    transform: translateX(195%) translateY(580%); 
    width: 400px;
    height:400px;
    z-index:1;
}
.text21
{
    transform: translateX(200%) translateY(6200%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text22
{
    transform: translateX(360%) translateY(6200%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.bulletin-board {
    background-color: #fff;
    width: 800px;
    height:350px;
    margin: 0 auto;
    border: 10px solid #152469; 
    border-radius: 10px; 
    padding: 10px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transform: translateX(20%) translateY(700%); 
}
.rectangle2 {
    width: 800px;         /* 長方形的寬度 */
    height: 150px;        /* 長方形的高度 */
    background-color: transparent; /* 背景顏色 */
    border: 15px solid #004aad;  
    position:absolute;
    transform:translateX(50%) translateY(1530%);
    border-radius: 20px;
}
.text23
{
    transform: translateX(105%) translateY(6500%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 1000;
}
.text23 a {
    color: black; /* 設定為黑色 */
}
.text24
{
    transform: translateX(89%) translateY(6650%);
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 1000;
}
.text24 a {
    color: black; /* 設定為黑色 */
} 
}
/*for mobile*/
/*for mobile*/
@media (max-width: 575px) {
    body{ 
        display: flex;
        flex-direction: column;
        align-items: center; /* 水平居中 */
        justify-content: center; /* 垂直居中 */
        min-height: 100vh;
        margin: 0;
        overflow-y: scroll;
        font-size: 1em;
    }
    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6
    {
    display: none;
    }
    .icon1,
    .icon2,
    .icon3,
    .icon4,
    .icon5,
    .icon6
    {
        display: none;
    }
    .menu
    {
    display: none;
    }
    .menu2 {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none;
        background:#152469;
        position: absolute;
        top:0vh;
        left:0vw;
        width: 100%;
        z-index:999;
    }
    
    .menu2 li {
        text-align: center;
        padding: 2.5vw;
    }
    
    .menu2 li a {
        text-decoration: none;
        color: white;
        display: block;
    }
    
    .menu2 li:hover {
        background: #444;
    }
    
    /* 漢堡按鈕 */
    .menu2-toggle {
        position:absolute;
        font-size:clamp(55px,7vw,7vh);
        cursor: pointer;
        padding: 10px;
        background:transparent;
        color:#152469 ;
        text-align: center;
        top:8vh;
        left:4vw;
        z-index: 100;
    }
    
    /* 顯示選單 */
    .menu2.active {
        display: block;
    }
    .title {
        font-size: clamp(38px, 5vw, 5vh);
        font-family: 'Noto Sans HK', sans-serif;
        font-weight: bold;
        align-items: center;
        position: absolute; 
        top:-2vh;
        left:22vw;
    }
    .icon7{
        position:absolute;
        top:0vh;
        left:2vw;
        width: clamp(50px, 20vw, 20vh);
        height:auto;
        z-index:3;
        transform-origin: top left;
    }
    
    /* 搜尋欄 */
    .search-container {
        position:absolute;
        top:5vh;
        left:20vw;
        justify-content: center; 
        align-items: center; 
        margin-top: 50px; 
        z-index: 100;
    }
    
    /* 搜尋框 */
    .search-input {
        padding: 12px 20px;
        font-size: 5vw;
        border: 2px solid #ddd;
        border-radius: 30px;
        width: 45vw;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: black;
    }
    
    /* 按鈕 */
    .search-button {
        padding: 12px 12px;
        font-size: 1em;
        background-color: #5480bf; 
        color: white; 
        border: none;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 12px; 
        transition: all 0.3s ease;
    }
    
    /* 按鈕圖 */
    .material-icons {
        font-size: 12em; 
        vertical-align: middle; 
    }
    
    /* 按鈕效果 */
    .search-button:hover {
        background-color: #c2e6f9; 
    }
    
#errorMessage {
    margin-top: 5px; /* 增加與搜尋欄的間距 */
    font-size: 14px;
    color: red;
    display: none;/* 預設隱藏 */
}
    /*內容*/
.img7
{
    position:absolute;
    top:300px;
    left:80px;
    width: 250px;
    height:250px;
    z-index:100;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
a .img7:hover {
    transform: scale(1.2); /* 保持原位縮放 */
    opacity: 0.8;
}
.img8
{
    position:absolute;
    top:600px;
    left:65px;
    width: 280px;
    height:350px;
    z-index:100;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
a .img8:hover {
    transform: scale(1.2); /* 保持原位縮放 */
    opacity: 0.8;
}
.img9
{
    position:absolute;
    top:980px;
    left:25px;
    width: 350px;
    height:350px;
    z-index:1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
a .img9:hover {
    transform:scale(1.2); /* 保持原位縮放 */
    opacity: 0.8;
}
/*p-bar*/
.img10 {
    position: absolute;
    top: calc(1.5vh + 3vh);   /* 讓圖片相對於視窗高度變動 */
    left: 50%;   /* 水平置中 */
    width:clamp(50px, 80vw, 80vh); /* 讓圖片寬度適應不同螢幕 */
    height: auto;
    transform: translate(-50%, 0); /* 水平置中 */
    z-index: 1;
}


.text1
{
    font-size: 8vw;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: bold;
    align-items: center;
    position: absolute; 
    left:50%;
    top: calc(8.5vh + 10vh);
    transform: translateX(-50%); 
    z-index: 2;
}

/*b-bar*/
.img11
{
    position:absolute;
    top:1220px;
    left:60px;
    width: 300px;
    height:300px;
    z-index:1;
}

.text2
{
    top:220px;
    left:18px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:20px;
    color: black;
    z-index: 40;
}
.text3
{
    top:530px;
    left:175px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text4
{
    top:930px;
    left:150px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text5
{
    top:1230px;
    left:130px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
/*B條件*/
.text6
{
    top:1320px;
    left:165px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.img12
{
    position:absolute;
    top:1350px;
    left:25px;
    width: 380px;
    height:380px;
    z-index:1;
}
.img13
{
    position:absolute;
    top:1730px;
    left:40px;
    width: 350px;
    height:350px;
    z-index:1;
}
.img14
{
    position:absolute;
    top:2110px;
    left:40px;
    width: 350px;
    height:350px;
    z-index:1;
}
.text7
{
    left:125px;
    top:1650px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text8
{
    top:2030px;
    left:120px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text9
{
    top:2390px;
    left:150px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text10
{
    top:2440px;
    left:140px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:20px;
    color: black;
    z-index: 40;
}
/*y-bar*/
.img15
{
    position:absolute;
    top:2400px;
    left:60px;
    width: 300px;
    height:300px;
    z-index:1;
}
.text11
{
    top:2500px;
    left:148px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text12
{
    top:2570px;
    left:18px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:20px;
    color: black;
    z-index: 40;
}
.img16
{
    position:absolute;
    top:2630px;
    left:45px;
    width: 350px;
    height:350px;
    z-index:1;
}
.img17
{
    position:absolute;
    top:3050px;
    left:30px;
    width: 300px;
    height:280px;
    z-index:1;
}
.img18
{
    position:absolute;
    top:3400px;
    left:45px;
    width: 350px;
    height:350px;
    z-index:1;
}
.text13
{
    top:2910px;
    left:140px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text14
{
    top:3310px;
    left:100px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text15
{
    top:3680px;
    left:110px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.img19
{
    position:absolute;
    top:3750px;
    left:45px;
    width: 350px;
    height:350px;
    z-index:1;
}
.img20
{
    position:absolute;
    top:4100px;
    left:45px;
    width: 350px;
    height:350px;
    z-index:1;
}
.text16
{
    top:4020px;
    left:120px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text17
{
    top:4370px;
    left:120px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.img21
{
    position:absolute;
    top:4450px;
    left:45px;
    width: 350px;
    height:350px;
    z-index:1;
}
.img22
{
    position:absolute;
    top:4750px;
    left:45px;
    width: 350px;
    height:350px;
    z-index:1;
}
.img23
{
    position:absolute;
    top:5050px;
    left:45px;
    width: 350px;
    height:350px;
    z-index:1;
}
.text18
{
    top:4720px;
    left:150px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text19
{
    top:5010px;
    left:120px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text20
{
    top:5310px;
    left:100px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.img24
{
    position:absolute;
    top:5400px;
    left:35px;
    width: 350px;
    height:350px;
    z-index:1;
}
.img25
{
    position:absolute;
    top:5750px;
    left:35px;
    width: 350px;
    height:350px;
    z-index:1;
}
.text21
{
    top:5700px;
    left:90px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.text22
{
    top:6040px;
    left:90px;
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:30px;
    color: black;
    z-index: 40;
}
.bulletin-board {
    background-color: #fff;
    width: 50px;
    height:30px;
    margin: 0 auto;
    border: 10px solid #152469; 
    border-radius: 10px; 
    padding: 10px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    top:5400px;
    left:35px; 
}
.rectangle2 {
    width: 350px;         /* 長方形的寬度 */
    height: 150px;        /* 長方形的高度 */
    background-color: transparent; /* 背景顏色 */
    border: 15px solid #004aad;  
    position:absolute;
    top:6150px;
    left:15px; 
    border-radius: 20px;
}
.text23
{
    top:6200px;
    left:35px; 
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:18px;
    color: black;
    z-index: 1000;
}
.text23 a {
    color: black; /* 設定為黑色 */
}
.text24
{
    top:6250px;
    left:35px; 
    position: absolute; /* 固定位置 */
    font-weight: bold;
    font-size:17px;
    color: black;
    z-index: 1000;
}
.text24 a {
    color: black; /* 設定為黑色 */
}
    }